<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsaga.vivacity2k18">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>


    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Events"
            android:label="@string/display_Events"
            android:parentActivityName=".First"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".AboutUs"
            android:label="@string/display_about_us"
            android:parentActivityName=".First" />
        <activity
            android:name=".ContactUs"
            android:label="@string/display_ContactUs"
            android:parentActivityName=".First"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".First"
            android:label="VIVACITY\&apos;19"
            android:theme="@style/MyTheme"
            android:uiOptions="splitActionBarWhenNarrow" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".First" />
        <activity
            android:name=".Team"
            android:label="@string/display_team"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Pronites"
            android:label="@string/display_Pronites"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".FunEvents"
            android:label="@string/fun_events"
            android:parentActivityName=".First"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Sponsors"
            android:label="@string/sponsors"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ArtEvents"
            android:label="ART &apos;N&apos; CRAFT"
            android:parentActivityName=".Events" />
        <activity
            android:name=".DanceEvents"
            android:label="DANCE"
            android:parentActivityName=".Events" />
        <activity
            android:name=".DramaEvents"
            android:label="DRAMATICS"
            android:parentActivityName=".Events" />
        <activity
            android:name=".MusicEvents"
            android:label="MUSIC"
            android:parentActivityName=".Events" />
        <activity
            android:name=".Antakshari"
            android:label="MUSIC"
            android:parentActivityName=".MusicEvents" />
        <activity
            android:name=".Colorama"
            android:label="ART &apos;N&apos; CRAFT"
            android:parentActivityName=".ArtEvents" />
        <activity
            android:name=".Contrasto"
            android:label="ART &apos;N&apos; CRAFT"
            android:parentActivityName=".ArtEvents" />
        <activity
            android:name=".Duetto"
            android:label="MUSIC"
            android:parentActivityName=".MusicEvents" />
        <activity
            android:name=".FlashFolks"
            android:label="PHOTOGRAPHY"
            android:parentActivityName=".Events" />
        <activity
            android:name=".Ifp"
            android:label="FILM MAKING"
            android:parentActivityName=".Events" />
        <activity
            android:name=".Inkthetee"
            android:label="ART &apos;N&apos; CRAFT"
            android:parentActivityName=".ArtEvents" />
        <activity
            android:name=".Mescolanza"
            android:label="MUSIC"
            android:parentActivityName=".MusicEvents" />
        <activity
            android:name=".Mudra"
            android:label="DANCE"
            android:parentActivityName=".DanceEvents" />
        <activity
            android:name=".MukhAbhinaya"
            android:label="DRAMATICS"
            android:parentActivityName=".DramaEvents" />
        <activity
            android:name=".NukkadNatak"
            android:label="NUKKAD NATAK" />
        <activity
            android:name=".PumpItUp"
            android:label="DANCE"
            android:parentActivityName=".DanceEvents" />
        <activity
            android:name=".RangManch"
            android:label="DRAMATICS"
            android:parentActivityName=".DramaEvents" />
        <activity
            android:name=".RapBattle"
            android:label="MUSIC"
            android:parentActivityName=".MusicEvents" />
        <activity
            android:name=".Razzmatazz"
            android:label="DANCE"
            android:parentActivityName=".DanceEvents" />
        <activity
            android:name=".Solendious"
            android:label="MUSIC"
            android:parentActivityName=".MusicEvents" />
        <activity
            android:name=".Splash"
            android:label="ART &apos;N&apos; CRAFT"
            android:parentActivityName=".ArtEvents" />
        <activity
            android:name=".Swaranjali"
            android:label="MUSIC"
            android:parentActivityName=".MusicEvents" />
        <activity
            android:name=".Tangle"
            android:label="DANCE"
            android:parentActivityName=".DanceEvents" />
        <activity
            android:name=".Tattoo"
            android:label="ART &apos;N&apos; CRAFT"
            android:parentActivityName=".ArtEvents" />
        <activity
            android:name=".TheOutlaw"
            android:label="DANCE"
            android:parentActivityName=".DanceEvents" />
        <activity
            android:name=".Verismo"
            android:label="MUSIC"
            android:parentActivityName=".MusicEvents" />
        <activity
            android:name=".OnGoing"
            android:parentActivityName=".First" />
        <activity
            android:name=".Developer"
            android:label="Developers"
            android:parentActivityName=".First" />
        <activity
            android:name=".FashionEvents"
            android:label="LIFE &apos;N&apos; STYLE"
            android:parentActivityName=".FashionEvents" />
        <activity android:name=".Vogue" />
        <activity android:name=".CampusPrincess"></activity>
    </application>

</manifest>